<footer class="footer fixed-bottom bg-danger">
  <a class="ftext" href="https://utina.yoshitokamizato.com/" target="_blank">ブログ</a>
  <a class="ftext" href="https://www.youtube.com/channel/UCwrDvYey9uKGBeh_l5IF-ag" target="_blank">Youtube</a>
</footer>
