//タスク６追加
@import "bootstrap/scss/bootstrap";

a.navbar-brand {
  text-decoration: none !important;
  font-size: 187%;
  margin-right: 21px;
}

a.nav-link {
  font-size: 115%;
  margin-right: 15px;
}

//タスク８追加
// ログイン画面

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.youtube-title {
  text-align: center;
  font-size: 120%;
  margin-top: 65px;
}
.youtube-container {
  text-align: center;
  margin-bottom: 65px;
}

.question{
  height:140px;
  background-color:#ffffff;
  border:2px solid #000000;
  border-radius: 10px;/*角の丸み*/
  font-size: 22px;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 50px;
  line-height: 45px;
  border-color: black;
  transform: translateY(3px);
  -webkit-transition-duration: .4s;
  -webkit-transition-timing-function:ease;
  padding: 10px;
  color: black;
}

.question:hover{
  border-color: steelblue;
  transform: translateY(-3px);
  -webkit-transition-duration: .4s;
  -webkit-transition-timing-function:ease;
}

h3 { font-size: 120%; }
// hr { width: 710px; }

.title{
  padding-top: 80px;

  //コメントアウトにより質問項目が左寄りとなる
  // width: 710px;
  text-align: left;
  font-size: 17px;
  line-height: 30px;
  margin:0 auto
}

.detail{
  padding-top: 40px;
    //コメントアウトにより詳細項目が左寄りとなる
  // width: 710px;
  font-size: 17px;
  line-height: 30px;
  margin: auto;
}

.code {
  padding: 0.5em;
  margin-bottom: 50px;
  font-size: 20px;
  border: solid 1px #000000;
}

.base-container{
  width:700px;
  margin: auto;
  margin-bottom: 100px;
}

.pagination {
  justify-content: center;
}

.form-question {
  margin: auto;
  width: 700px;
  height: 100px;
  border-radius: 5px;/*角の丸み*/
  border-color: silver;
}

.form-detail {
  margin: auto;
  width: 700px;
  height: 150px;
  border-radius: 5px;/*角の丸み*/
  border-color: silver;
}


.flash {
  margin: auto;
  width: 700px;
  height: 50px;
  border-radius: 5px;/*角の丸み*/
  padding: 15px 20px;
  margin-top: 60px;
}

.notice {
  color: green;
  background-color:#90EE90;
}

.danger {
  color: red;
  background-color:#FFDDFF;
}

.listtitle {
  width: 700px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.awscaution {
  margin: auto;
  width: 700px;
  line-height: 30px;
  margin-bottom: 20px;
}

.list-group-item-primary {
  font-weight: bold;
  color: white;
}

.listindex:nth-child(even) {
	background: #eee;
}

.listcontent {
  line-height: 30px;
  margin-top: 30px;
}

.listcontent h2{
  font-weight: bold;
}

.listcontent h3{
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
}

.btn {
  padding-bottom: 3px;
}

// footer
.footer {
  // text-align: center;
  // line-height:50px;
  // width: 100%;
  // min-height: 50px;

  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    padding: 0 20px;
    font-size: 20px;
  }
}

a.ftext {
  font-size: 115%;
  color: white;
  margin-right: 40px;
}

.line-container {
  margin: auto;
  font-size: 105%;
  width: 440px;
  margin-top: 80px;
  line-height: 50px;
  margin-bottom: 100px;
}

.text-container{
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 10px;
  margin-bottom: 100px;
}

.text{
  position: relative;
  height:350px;
  width:370px;
  background-color:#ffffff;
  border:2px solid #000000;
  border-radius: 10px;/*角の丸み*/
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 100px;
  border-color: gray;
  padding: 10px;
  color: black;
  display: inline-block;
}

.text:hover{
  border-color: steelblue;
}

.textmargin{
  margin-top: 50px;
  margin-left: 15px;
}

.image{
  position: absolute;
  border-radius: 8px 8px 0px 0px;/*角の丸み*/
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 180px;
  width: 366px;
}

.textdetail-container{
  width:700px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 100px;
  line-height: 30px;
}

.textdetail-container h2{
  font-weight: bold;
}

.icon{
  background-size: 24px 24px;
  height: 24px;
  width: 24px;
}
