
//タスク６追加
@import "bootstrap/scss/bootstrap";

a { text-decoration: none !important; }
a.navbar-brand {font-size: 187%; margin-right: 21px;}
a.nav-link {font-size: 125%; margin-right: 15px;}

.youtube-title {
  text-align: center;
  font-size: 120%;
  margin-top: 65px;
}
.youtube-container {
  text-align: center;
  margin-bottom: 65px;
}

.question{
  width:700px;
  height:140px;
  background-color:#ffffff;
  border:2px solid #000000;
  border-radius: 10px;/*角の丸み*/
  font-size: 22px;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 50px;
  line-height: 45px;
  border-color: black;
  transform: translateY(3px);
  -webkit-transition-duration: .4s;
  -webkit-transition-timing-function:ease;
  padding: 10px;
  color: black;
}

.question:hover{
  border-color: steelblue;
  transform: translateY(-3px);
  -webkit-transition-duration: .4s;
  -webkit-transition-timing-function:ease;
}

h3 { font-size: 120%; }
hr { width: 710px; }

.title{
  padding-top: 80px;
  width: 710px;
  text-align: left;
  font-size: 17px;
  line-height: 30px;
  margin:0 auto
}

.detail{
  padding-top: 40px;
  width: 710px;
  font-size: 17px;
  line-height: 30px;
  margin: auto;
}

.code {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-size: 20px;
    border: solid 1px #000000;
}

.list-question{
  width:700px;
  height:140px;
}
