//タスク６追加
@import "bootstrap/scss/bootstrap";

a { text-decoration: none !important; }
a.navbar-brand {font-size: 187%; margin-right: 21px;}
a.nav-link {font-size: 125%; margin-right: 15px;}

//タスク８追加
// ログイン画面

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.youtube-title {
  text-align: center;
  font-size: 120%;
  margin-top: 65px;
}
.youtube-container {
  text-align: center;
  margin-bottom: 65px;
}

.question{
  height:140px;
  background-color:#ffffff;
  border:2px solid #000000;
  border-radius: 10px;/*角の丸み*/
  font-size: 22px;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 50px;
  line-height: 45px;
  border-color: black;
  transform: translateY(3px);
  -webkit-transition-duration: .4s;
  -webkit-transition-timing-function:ease;
  padding: 10px;
  color: black;
}

.question:hover{
  border-color: steelblue;
  transform: translateY(-3px);
  -webkit-transition-duration: .4s;
  -webkit-transition-timing-function:ease;
}

h3 { font-size: 120%; }
hr { width: 710px; }

.title{
  padding-top: 80px;
  width: 710px;
  text-align: left;
  font-size: 17px;
  line-height: 30px;
  margin:0 auto
}

.detail{
  padding-top: 40px;
  width: 710px;
  font-size: 17px;
  line-height: 30px;
  margin: auto;
}

.code {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-size: 20px;
    border: solid 1px #000000;
}

.base-container{
  width:700px;
  margin: auto;
}

.pagination {
  justify-content: center;
}

.form-question {
  margin: auto;
  width: 700px;
  height: 100px;
  border-radius: 5px;/*角の丸み*/
  border-color: silver;
}

.form-detail {
  margin: auto;
  width: 700px;
  height: 150px;
  border-radius: 5px;/*角の丸み*/
  border-color: silver;
}


.flash {
  margin: auto;
  width: 700px;
  height: 50px;
  border-radius: 5px;/*角の丸み*/
  padding: 15px 20px;
  margin-top: 60px;
}

.notice {
  color: green;
  background-color:#90EE90;
}

.danger {
  color: red;
  background-color:#FFDDFF;
}

.awstitle {
  margin: auto;
  margin-bottom: 20px;
}

.list-group {
  margin: auto;
  width: 700px;
  margin-top: 50px;
}

.list-group-item-primary {
  font-weight: bold;
}

.list-group-item:nth-child(even) {
	background: #eee;
}
