<table class="base-container table">
<center><h2 class="listtitle">AWS講座</h2></center>
<p class="awscaution">注意！！！：AWSのEC2やRDSは有料サービスとなります。無駄な料金を請求されないためにも、不要なインスタンスは停止・削除をしてください。</p>
<tr class="list-group-item-primary bg-primary"><th>No.</th><th>内容</th></tr>
<% @awstexts.each.with_index(1) do |awstext, i| %>
<tr class="listindex">
  <td><%= i %></td>
  <td><%= link_to( aws_text_path(awstext), target: :_blank) do %><%= awstext.title %><% end %></td></tr>
<% end %>
</table>
